
header{
    text-align: center;
    margin-top: 30px;
    margin-block-end: 50%;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #333;
    margin-bottom: 10px;
}

#show-username{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

button{
    margin: 2px;
    padding: 12px 14px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background: linear-gradient(135deg, #3d404dad, #568cf0f3);
}

button a{
    color: white;
    text-decoration: none;
    padding: 10px 41%;
}

.out{
    margin: 5px;
    width: auto;
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    background: linear-gradient(135deg, #568cf0f3, #3d404dad);
    border-radius: 10px;
    cursor: pointer;
}
