body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #568cf0f3, #3d404dad);
    color: #ececf1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-shadow: black 0 0 20px;
}

/*Titulo*/
h1{
    text-align: center;
    padding: 20px;
    color: beige;
}
